*{ 
    margin: 0;
    padding: 0;


}
/* Css Variables */
:root{
    --navbar-height:59px;

}
/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
}

/* Logo and image  */
#logo{
    margin: 9px 0px;

}
#logo img{
    height: 36px;
    margin: -13px 5px;

}
/* List styling */
#navbar{
    position: relative;

}
#navbar ul {
    display: flex;
    text-decoration: none;
}
#navbar::before{
    content: "";
    background-color:black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color:white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;

}
#navbar ul li a:hover{
    background-color: antiquewhite;
    color:black
  

}
/* home section */
#Home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 670px;
    
}

body {
    background: url(../img2/9.png.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /* opacity: 0.5; */
    }

    body.img {
        opacity: 0.5;
    }
    
    
#Home h1{
    color: black;
    text-align: center;
}
#Home p {
    color: black;
    text-align: center;
    font-size: 1.5rem;
}
/* services section */
#services {
    
    margin: 4px;
    display: flex;
    justify-content: center;
}
.box {
    
    border: 1px solid brown;
    padding: 12px;
    margin: -12px 9px;
    border-radius: 0px;
    background: blanchedalmond;

    
}
.box img{
    height: 100px;
    margin: auto;
    display: flex;
    
}



/* utility class */
.h-primary{
    font-size: 2.8rem;    
    padding: 12px;

}
.h-secondary{
    font-size: 1.8rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 33.5px;
    cursor: pointer;

}
.center{
    text-align: center;
}
